.svg-forest {
  display: inline-block;
  width: 50%;
  height: auto;
}

.st0 {
  fill: #78c292;
}
.st1 {
  fill: url(#SVGID_1_);
}
.st2 {
  fill: #c1bbda;
}
.st3 {
  fill: #efddea;
}
.st4 {
  fill: #e2cbde;
}
.st5 {
  fill: #ebddea;
}
.st6 {
  fill: #9993ba;
}
.st7 {
  fill: #a699bd;
}
.st8 {
  fill: #ffeffd;
}
.st9 {
  fill: #e3cddf;
}
.st10 {
  fill: #f8e7f7;
}
.st11 {
  fill: #e7d4e3;
}
.st12 {
  fill: #fce9f5;
}
.st13 {
  fill: #eedef1;
}
.st14 {
  fill: #c7bdd3;
}
.st15 {
  fill: #cabdd4;
}
.st16 {
  fill: #a39cb7;
}
.st17 {
  fill: #cdbeca;
}
.st18 {
  fill: #c0acbd;
}
.st19 {
  fill: #d2bcaa;
}
.st20 {
  fill: #ded1dc;
}
.st21 {
  fill: #c1aebe;
}
.st22 {
  fill: #d7c8d6;
}
.st23 {
  fill: #c5b4c2;
}
.st24 {
  fill: #dbcbd4;
}
.st25 {
  fill: #cdbfcf;
}
.st26 {
  fill: #a79eb0;
}
.st27 {
  fill: #877d99;
}
.st28 {
  fill: #7c7796;
}
.st29 {
  fill: #a99eb1;
}
.st30 {
  fill: #a597a2;
}
.st31 {
  fill: #bbadb5;
}
.st32 {
  fill: #a0909e;
}
.st33 {
  fill: #ad9fa8;
}
.st34 {
  fill: #888190;
}
.st35 {
  fill: #6a6279;
}
.st36 {
  fill: #615d76;
}
.st37 {
  clip-path: url(#SVGID_3_);
}
.st38 {
  opacity: 0.23;
  fill: url(#SVGID_4_);
}
.st39 {
  opacity: 0.23;
  fill: url(#SVGID_5_);
}
.st40 {
  opacity: 0.23;
  fill: url(#SVGID_6_);
}
.st41 {
  opacity: 0.23;
  fill: url(#SVGID_7_);
}
.st42 {
  opacity: 0.23;
  fill: url(#SVGID_8_);
}
.st43 {
  opacity: 0.23;
  fill: url(#SVGID_9_);
}
.st44 {
  opacity: 0.23;
  fill: url(#SVGID_10_);
}
.st45 {
  opacity: 0.23;
  fill: url(#SVGID_11_);
}
.st46 {
  opacity: 0.23;
  fill: url(#SVGID_12_);
}
.st47 {
  opacity: 0.23;
  fill: url(#SVGID_13_);
}
.st48 {
  opacity: 0.23;
  fill: url(#SVGID_14_);
}
.st49 {
  opacity: 0.23;
  fill: url(#SVGID_15_);
}
.st50 {
  opacity: 0.23;
  fill: url(#SVGID_16_);
}
.st51 {
  opacity: 0.23;
  fill: url(#SVGID_17_);
}
.st52 {
  opacity: 0.23;
  fill: url(#SVGID_18_);
}
.st53 {
  opacity: 0.23;
  fill: url(#SVGID_19_);
}
.st54 {
  opacity: 0.23;
  fill: url(#SVGID_20_);
}
.st55 {
  opacity: 0.23;
  fill: url(#SVGID_21_);
}
.st56 {
  opacity: 0.23;
  fill: url(#SVGID_22_);
}
.st57 {
  opacity: 0.23;
  fill: url(#SVGID_23_);
}
.st58 {
  opacity: 0.23;
  fill: url(#SVGID_24_);
}
.st59 {
  opacity: 0.23;
  fill: url(#SVGID_25_);
}
.st60 {
  opacity: 0.23;
  fill: url(#SVGID_26_);
}
.st61 {
  opacity: 0.23;
  fill: url(#SVGID_27_);
}
.st62 {
  opacity: 0.23;
  fill: url(#SVGID_28_);
}
.st63 {
  opacity: 0.23;
  fill: url(#SVGID_29_);
}
.st64 {
  opacity: 0.23;
  fill: url(#SVGID_30_);
}
.st65 {
  opacity: 0.23;
  fill: url(#SVGID_31_);
}
.st66 {
  opacity: 0.23;
  fill: url(#SVGID_32_);
}
.st67 {
  opacity: 0.23;
  fill: url(#SVGID_33_);
}
.st68 {
  opacity: 0.23;
  fill: url(#SVGID_34_);
}
.st69 {
  opacity: 0.23;
  fill: url(#SVGID_35_);
}
.st70 {
  opacity: 0.23;
  fill: url(#SVGID_36_);
}
.st71 {
  opacity: 0.23;
  fill: url(#SVGID_37_);
}
.st72 {
  fill: #1a101a;
}
.st73 {
  fill: #020308;
}
.st74 {
  fill: #08060f;
}
.st75 {
  fill: #1f1013;
}
.st76 {
  fill: #1d0c0f;
}
.st77 {
  fill: #230f13;
}
.st78 {
  fill: #271417;
}
.st79 {
  fill: #08060d;
}
.st80 {
  fill: #0b1611;
}
.st81 {
  fill: #19382f;
}
.st82 {
  fill: #18332d;
}
.st83 {
  fill: #18352c;
}
.st84 {
  fill: #162d28;
}
.st85 {
  fill: #142c24;
}
.st86 {
  fill: #182e23;
}
.st87 {
  fill: #12231b;
}
.st88 {
  fill: #101b15;
}
.st89 {
  fill: #142219;
}
.st90 {
  fill: #203527;
}
.st91 {
  fill: #2b422b;
}
.st92 {
  fill: #2b442b;
}
.st93 {
  fill: #284028;
}
.st94 {
  fill: #314b32;
}
.st95 {
  fill: #2d482c;
}
.st96 {
  fill: #30502f;
}
.st97 {
  fill: #24392c;
}
.st98 {
  fill: #2b452f;
}
.st99 {
  fill: #283e30;
}
.st100 {
  fill: #101b16;
}
.st101 {
  fill: #15251e;
}
.st102 {
  fill: #14221b;
}
.st103 {
  fill: #3c5837;
}
.st104 {
  fill: #385838;
}
.st105 {
  fill: #30502c;
}
.st106 {
  fill: #211521;
}
.st107 {
  fill: #050510;
}
.st108 {
  fill: #040307;
}
.st109 {
  fill: #261417;
}
.st110 {
  fill: #291216;
}
.st111 {
  fill: #2d181b;
}
.st112 {
  fill: #0d0a14;
}
.st113 {
  fill: #0d1b15;
}
.st114 {
  fill: #1b3d35;
}
.st115 {
  fill: #1b3932;
}
.st116 {
  fill: #1a3b31;
}
.st117 {
  fill: #19332e;
}
.st118 {
  fill: #173229;
}
.st119 {
  fill: #1b3429;
}
.st120 {
  fill: #152920;
}
.st121 {
  fill: #14221a;
}
.st122 {
  fill: #18271d;
}
.st123 {
  fill: #243b2b;
}
.st124 {
  fill: #2f482f;
}
.st125 {
  fill: #2f4a2f;
}
.st126 {
  fill: #2b462b;
}
.st127 {
  fill: #355136;
}
.st128 {
  fill: #304f30;
}
.st129 {
  fill: #335533;
}
.st130 {
  fill: #273f30;
}
.st131 {
  fill: #2e4b34;
}
.st132 {
  fill: #2c4435;
}
.st133 {
  fill: #14211b;
}
.st134 {
  fill: #192b23;
}
.st135 {
  fill: #182820;
}
.st136 {
  fill: #43643d;
}
.st137 {
  fill: #3e613d;
}
.st138 {
  fill: #34562f;
}
.st139 {
  fill: #1b111b;
}
.st140 {
  fill: #05050e;
}
.st141 {
  fill: #0a0813;
}
.st142 {
  fill: #311a1e;
}
.st143 {
  fill: #2e1419;
}
.st144 {
  fill: #34171b;
}
.st145 {
  fill: #381e21;
}
.st146 {
  fill: #0b0811;
}
.st147 {
  fill: #13271e;
}
.st148 {
  fill: #21483f;
}
.st149 {
  fill: #20443b;
}
.st150 {
  fill: #1f473b;
}
.st151 {
  fill: #1e3f38;
}
.st152 {
  fill: #1c3d32;
}
.st153 {
  fill: #224032;
}
.st154 {
  fill: #1a2d23;
}
.st155 {
  fill: #1e3325;
}
.st156 {
  fill: #2a4733;
}
.st157 {
  fill: #365336;
}
.st158 {
  fill: #365536;
}
.st159 {
  fill: #335133;
}
.st160 {
  fill: #3e5e3f;
}
.st161 {
  fill: #385b37;
}
.st162 {
  fill: #3c643b;
}
.st163 {
  fill: #2f4a39;
}
.st164 {
  fill: #35563c;
}
.st165 {
  fill: #33503e;
}
.st166 {
  fill: #1b2c24;
}
.st167 {
  fill: #1f372d;
}
.st168 {
  fill: #1f3329;
}
.st169 {
  fill: #4e7347;
}
.st170 {
  fill: #497348;
}
.st171 {
  fill: #3d6638;
}
.st172 {
  fill: #341b1f;
}
.st173 {
  fill: #31151a;
}
.st174 {
  fill: #38191e;
}
.st175 {
  fill: #3d2024;
}
.st176 {
  fill: #14281f;
}
.st177 {
  fill: #255246;
}
.st178 {
  fill: #244d43;
}
.st179 {
  fill: #234f41;
}
.st180 {
  fill: #21453d;
}
.st181 {
  fill: #1f4438;
}
.st182 {
  fill: #254636;
}
.st183 {
  fill: #1d382b;
}
.st184 {
  fill: #1b2f24;
}
.st185 {
  fill: #203728;
}
.st186 {
  fill: #2f4f3a;
}
.st187 {
  fill: #3e5f3e;
}
.st188 {
  fill: #3e623e;
}
.st189 {
  fill: #3a5c3a;
}
.st190 {
  fill: #456a47;
}
.st191 {
  fill: #40673e;
}
.st192 {
  fill: #437042;
}
.st193 {
  fill: #355441;
}
.st194 {
  fill: #3d6343;
}
.st195 {
  fill: #3a5a46;
}
.st196 {
  fill: #1c2f25;
}
.st197 {
  fill: #213b30;
}
.st198 {
  fill: #21372c;
}
.st199 {
  fill: #537b4c;
}
.st200 {
  fill: #4e7b4e;
}
.st201 {
  fill: #43713e;
}
.st202 {
  fill: #2f1e2f;
}
.st203 {
  fill: #0a0b1e;
}
.st204 {
  fill: #141024;
}
.st205 {
  fill: #4a272d;
}
.st206 {
  fill: #461e26;
}
.st207 {
  fill: #4e2329;
}
.st208 {
  fill: #532c31;
}
.st209 {
  fill: #161122;
}
.st210 {
  fill: #1e3d30;
}
.st211 {
  fill: #2f6759;
}
.st212 {
  fill: #2e6255;
}
.st213 {
  fill: #2c6554;
}
.st214 {
  fill: #2c5b51;
}
.st215 {
  fill: #295949;
}
.st216 {
  fill: #315c48;
}
.st217 {
  fill: #284e3d;
}
.st218 {
  fill: #284535;
}
.st219 {
  fill: #2d4c38;
}
.st220 {
  fill: #3c6549;
}
.st221 {
  fill: #4c744c;
}
.st222 {
  fill: #4b774b;
}
.st223 {
  fill: #477247;
}
.st224 {
  fill: #558257;
}
.st225 {
  fill: #4e7e4c;
}
.st226 {
  fill: #528951;
}
.st227 {
  fill: #426951;
}
.st228 {
  fill: #4a7853;
}
.st229 {
  fill: #487057;
}
.st230 {
  fill: #294437;
}
.st231 {
  fill: #2e5142;
}
.st232 {
  fill: #2e4d3d;
}
.st233 {
  fill: #67985e;
}
.st234 {
  fill: #619860;
}
.st235 {
  fill: #538b4d;
}
.st236 {
  fill: #0c0a16;
}
.st237 {
  fill: #3c1f24;
}
.st238 {
  fill: #38181f;
}
.st239 {
  fill: #401c22;
}
.st240 {
  fill: #452529;
}
.st241 {
  fill: #172f24;
}
.st242 {
  fill: #28594d;
}
.st243 {
  fill: #275449;
}
.st244 {
  fill: #265648;
}
.st245 {
  fill: #254d45;
}
.st246 {
  fill: #224b3e;
}
.st247 {
  fill: #294e3d;
}
.st248 {
  fill: #214032;
}
.st249 {
  fill: #20372a;
}
.st250 {
  fill: #253e2e;
}
.st251 {
  fill: #34563f;
}
.st252 {
  fill: #436643;
}
.st253 {
  fill: #426942;
}
.st254 {
  fill: #3e643e;
}
.st255 {
  fill: #4a724c;
}
.st256 {
  fill: #446f43;
}
.st257 {
  fill: #477747;
}
.st258 {
  fill: #395b46;
}
.st259 {
  fill: #416a49;
}
.st260 {
  fill: #3f624c;
}
.st261 {
  fill: #20362c;
}
.st262 {
  fill: #264336;
}
.st263 {
  fill: #263f32;
}
.st264 {
  fill: #5a8552;
}
.st265 {
  fill: #558554;
}
.st266 {
  fill: #487842;
}
.st267 {
  fill: #120b12;
}
.st268 {
  fill: #2c171b;
}
.st269 {
  fill: #291116;
}
.st270 {
  fill: #301619;
}
.st271 {
  fill: #351c20;
}
.st272 {
  fill: #030204;
}
.st273 {
  fill: #102019;
}
.st274 {
  fill: #224a3f;
}
.st275 {
  fill: #20453c;
}
.st276 {
  fill: #1d3d37;
}
.st277 {
  fill: #1c3c31;
}
.st278 {
  fill: #213e31;
}
.st279 {
  fill: #193026;
}
.st280 {
  fill: #17271e;
}
.st281 {
  fill: #1c2f22;
}
.st282 {
  fill: #2b4734;
}
.st283 {
  fill: #395639;
}
.st284 {
  fill: #385938;
}
.st285 {
  fill: #355435;
}
.st286 {
  fill: #416242;
}
.st287 {
  fill: #3b5f39;
}
.st288 {
  fill: #3e673e;
}
.st289 {
  fill: #2f4b3b;
}
.st290 {
  fill: #385b3f;
}
.st291 {
  fill: #355240;
}
.st292 {
  fill: #17261f;
}
.st293 {
  fill: #1d332a;
}
.st294 {
  fill: #1c2f26;
}
.st295 {
  fill: #3f693a;
}
.st296 {
  fill: #6d3a40;
}
.st297 {
  fill: #62333c;
}
.st298 {
  fill: #662e37;
}
.st299 {
  fill: #5e2933;
}
.st300 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st301 {
  fill: #3d7a6d;
}
.st302 {
  fill: #396a59;
}
.st303 {
  fill: #6eaa7f;
}
.st304 {
  fill: #386f64;
}
.st305 {
  fill: #3c715a;
}
.st306 {
  fill: #2f6256;
}
.st307 {
  fill: #478066;
}
.st308 {
  fill: #72b48a;
}
.st309 {
  fill: #629c7e;
}
.st310 {
  fill: #538567;
}
.st311 {
  fill: #5b8d6d;
}
.st312 {
  fill: #5f9a69;
}
.st313 {
  fill: #4d805e;
}
.st314 {
  fill: #572e34;
}
.st315 {
  fill: #4f2930;
}
.st316 {
  fill: #52252c;
}
.st317 {
  fill: #4b2029;
}
.st318 {
  fill: #316157;
}
.st319 {
  fill: #2e5547;
}
.st320 {
  fill: #598966;
}
.st321 {
  fill: #2d5950;
}
.st322 {
  fill: #305b48;
}
.st323 {
  fill: #264f45;
}
.st324 {
  fill: #396651;
}
.st325 {
  fill: #5d9370;
}
.st326 {
  fill: #4e7c64;
}
.st327 {
  fill: #436b53;
}
.st328 {
  fill: #497057;
}
.st329 {
  fill: #4f8058;
}
.st330 {
  fill: #3e674b;
}
.st331 {
  fill: #6f3b42;
}
.st332 {
  fill: #67353f;
}
.st333 {
  fill: #6a3039;
}
.st334 {
  fill: #642b36;
}
.st335 {
  fill: #3d796d;
}
.st336 {
  fill: #3b6d5c;
}
.st337 {
  fill: #689f76;
}
.st338 {
  fill: #3a7166;
}
.st339 {
  fill: #3e725c;
}
.st340 {
  fill: #31675b;
}
.st341 {
  fill: #467d64;
}
.st342 {
  fill: #6ca982;
}
.st343 {
  fill: #5c9375;
}
.st344 {
  fill: #518264;
}
.st345 {
  fill: #578768;
}
.st346 {
  fill: #5d9768;
}
.st347 {
  fill: #4b7e5c;
}
.st348 {
  fill: #362236;
}
.st349 {
  fill: #151127;
}
.st350 {
  fill: #5a2f36;
}
.st351 {
  fill: #55242e;
}
.st352 {
  fill: #5f2b32;
}
.st353 {
  fill: #66363c;
}
.st354 {
  fill: #171224;
}
.st355 {
  fill: #244938;
}
.st356 {
  fill: #3b826f;
}
.st357 {
  fill: #397b6a;
}
.st358 {
  fill: #377e68;
}
.st359 {
  fill: #367165;
}
.st360 {
  fill: #336f5b;
}
.st361 {
  fill: #3c7259;
}
.st362 {
  fill: #315f4a;
}
.st363 {
  fill: #305340;
}
.st364 {
  fill: #375d44;
}
.st365 {
  fill: #619361;
}
.st366 {
  fill: #5f975f;
}
.st367 {
  fill: #5a905a;
}
.st368 {
  fill: #6ba36d;
}
.st369 {
  fill: #629f60;
}
.st370 {
  fill: #66aa65;
}
.st371 {
  fill: #538466;
}
.st372 {
  fill: #5e9969;
}
.st373 {
  fill: #315242;
}
.st374 {
  fill: #386351;
}
.st375 {
  fill: #385e4b;
}
.st376 {
  fill: #7db973;
}
.st377 {
  fill: #76b974;
}
.st378 {
  fill: #66ac5f;
}
.st379 {
  fill: #83464e;
}
.st380 {
  fill: #773e48;
}
.st381 {
  fill: #7c3842;
}
.st382 {
  fill: #72313e;
}
.st383 {
  fill: #4a9384;
}
.st384 {
  fill: #45806b;
}
.st385 {
  fill: #83ca97;
}
.st386 {
  fill: #448779;
}
.st387 {
  fill: #49896d;
}
.st388 {
  fill: #397768;
}
.st389 {
  fill: #569a7b;
}
.st390 {
  fill: #87d4a2;
}
.st391 {
  fill: #76bc97;
}
.st392 {
  fill: #65a17d;
}
.st393 {
  fill: #6eaa84;
}
.st394 {
  fill: #70b67d;
}
.st395 {
  fill: #5d9b71;
}
.st396 {
  fill: #894952;
}
.st397 {
  fill: #7f424e;
}
.st398 {
  fill: #833b46;
}
.st399 {
  fill: #7b3543;
}
.st400 {
  fill: #4b9586;
}
.st401 {
  fill: #498671;
}
.st402 {
  fill: #7fc391;
}
.st403 {
  fill: #478c7e;
}
.st404 {
  fill: #4c8d71;
}
.st405 {
  fill: #3d7f70;
}
.st406 {
  fill: #579a7b;
}
.st407 {
  fill: #83cd9d;
}
.st408 {
  fill: #72b591;
}
.st409 {
  fill: #64a07c;
}
.st410 {
  fill: #6ca781;
}
.st411 {
  fill: #5d9b72;
}
.st412 {
  fill: #6a393f;
}
.st413 {
  fill: #60323a;
}
.st414 {
  fill: #642d35;
}
.st415 {
  fill: #5c2832;
}
.st416 {
  fill: #3c776b;
}
.st417 {
  fill: #386857;
}
.st418 {
  fill: #6ca67c;
}
.st419 {
  fill: #376d62;
}
.st420 {
  fill: #3b6f58;
}
.st421 {
  fill: #2e6054;
}
.st422 {
  fill: #70b087;
}
.st423 {
  fill: #60987a;
}
.st424 {
  fill: #528265;
}
.st425 {
  fill: #598a6b;
}
.st426 {
  fill: #794048;
}
.st427 {
  fill: #6e3942;
}
.st428 {
  fill: #72343d;
}
.st429 {
  fill: #692d39;
}
.st430 {
  fill: #44877a;
}
.st431 {
  fill: #407663;
}
.st432 {
  fill: #7abc8c;
}
.st433 {
  fill: #3f7c6f;
}
.st434 {
  fill: #437e64;
}
.st435 {
  fill: #346e60;
}
.st436 {
  fill: #4f8e71;
}
.st437 {
  fill: #7ec697;
}
.st438 {
  fill: #6dae8b;
}
.st439 {
  fill: #5d9473;
}
.st440 {
  fill: #659d7a;
}
.st441 {
  fill: #67a873;
}
.st442 {
  fill: #568f68;
}
.st443 {
  fill: #7e434c;
}
.st444 {
  fill: #753d48;
}
.st445 {
  fill: #793640;
}
.st446 {
  fill: #71313e;
}
.st447 {
  fill: #45897b;
}
.st448 {
  fill: #437b68;
}
.st449 {
  fill: #76b586;
}
.st450 {
  fill: #418174;
}
.st451 {
  fill: #468268;
}
.st452 {
  fill: #387567;
}
.st453 {
  fill: #508e71;
}
.st454 {
  fill: #7abf92;
}
.st455 {
  fill: #69a786;
}
.st456 {
  fill: #5c9372;
}
.st457 {
  fill: #639a77;
}
.st458 {
  fill: #568f69;
}
.st459 {
  fill: #533453;
}
.st460 {
  fill: #13153b;
}
.st461 {
  fill: #251e44;
}
.st462 {
  fill: #2a2141;
}
.st463 {
  fill: #32664f;
}
.st464 {
  fill: #489f88;
}
.st465 {
  fill: #479884;
}
.st466 {
  fill: #449b81;
}
.st467 {
  fill: #448e7f;
}
.st468 {
  fill: #408c73;
}
.st469 {
  fill: #4c8f70;
}
.st470 {
  fill: #407c61;
}
.st471 {
  fill: #417057;
}
.st472 {
  fill: #487a5a;
}
.st473 {
  fill: #74b074;
}
.st474 {
  fill: #72b472;
}
.st475 {
  fill: #6cad6c;
}
.st476 {
  fill: #7ec081;
}
.st477 {
  fill: #74bc72;
}
.st478 {
  fill: #78c776;
}
.st479 {
  fill: #436f5a;
}
.st480 {
  fill: #498069;
}
.st481 {
  fill: #4a7b62;
}
.st482 {
  fill: #91d685;
}
.st483 {
  fill: #89d687;
}
.st484 {
  fill: #78c96f;
}
.st485 {
  fill: #090a1e;
}
.st486 {
  fill: #55242d;
}
.st487 {
  fill: #5f2a32;
}
.st488 {
  fill: #3a826f;
}
.st489 {
  fill: #397b6b;
}
.st490 {
  fill: #367164;
}
.st491 {
  fill: #326f5b;
}
.st492 {
  fill: #3c7258;
}
.st493 {
  fill: #315f49;
}
.st494 {
  fill: #609360;
}
.st495 {
  fill: #609760;
}
.st496 {
  fill: #6aa36d;
}
.st497 {
  fill: #66aa64;
}
.st498 {
  fill: #5e9968;
}
.st499 {
  fill: #385e4a;
}
.st500 {
  fill: #76b975;
}
.st501 {
  fill: #66ac5e;
}
.st502 {
  fill: #402840;
}
.st503 {
  fill: #0d0e28;
}
.st504 {
  fill: #1b1631;
}
.st505 {
  fill: #64343c;
}
.st506 {
  fill: #5f2934;
}
.st507 {
  fill: #692f38;
}
.st508 {
  fill: #703c43;
}
.st509 {
  fill: #1e172e;
}
.st510 {
  fill: #295340;
}
.st511 {
  fill: #3f8c78;
}
.st512 {
  fill: #3e8573;
}
.st513 {
  fill: #3c8871;
}
.st514 {
  fill: #3b7b6e;
}
.st515 {
  fill: #377963;
}
.st516 {
  fill: #427c61;
}
.st517 {
  fill: #366952;
}
.st518 {
  fill: #365d48;
}
.st519 {
  fill: #3d674c;
}
.st520 {
  fill: #528863;
}
.st521 {
  fill: #679d67;
}
.st522 {
  fill: #66a166;
}
.st523 {
  fill: #609a60;
}
.st524 {
  fill: #71ad74;
}
.st525 {
  fill: #68a966;
}
.st526 {
  fill: #6cb46b;
}
.st527 {
  fill: #598e6e;
}
.st528 {
  fill: #64a370;
}
.st529 {
  fill: #629775;
}
.st530 {
  fill: #375c4b;
}
.st531 {
  fill: #3e6d59;
}
.st532 {
  fill: #3f6853;
}
.st533 {
  fill: #84c379;
}
.st534 {
  fill: #7dc37b;
}
.st535 {
  fill: #6db664;
}
.st536 {
  fill: #2b1b2b;
}
.st537 {
  fill: #060713;
}
.st538 {
  fill: #0f0c1c;
}
.st539 {
  fill: #4a1f28;
}
.st540 {
  fill: #54262c;
}
.st541 {
  fill: #5b3036;
}
.st542 {
  fill: #100d19;
}
.st543 {
  fill: #1f3e30;
}
.st544 {
  fill: #367766;
}
.st545 {
  fill: #347061;
}
.st546 {
  fill: #32735f;
}
.st547 {
  fill: #31665b;
}
.st548 {
  fill: #2e6452;
}
.st549 {
  fill: #366751;
}
.st550 {
  fill: #2b5442;
}
.st551 {
  fill: #2a4838;
}
.st552 {
  fill: #31523c;
}
.st553 {
  fill: #457354;
}
.st554 {
  fill: #5a885a;
}
.st555 {
  fill: #588c58;
}
.st556 {
  fill: #538553;
}
.st557 {
  fill: #649866;
}
.st558 {
  fill: #5b9459;
}
.st559 {
  fill: #609f5f;
}
.st560 {
  fill: #4c795e;
}
.st561 {
  fill: #578e62;
}
.st562 {
  fill: #548265;
}
.st563 {
  fill: #2b4739;
}
.st564 {
  fill: #325848;
}
.st565 {
  fill: #325342;
}
.st566 {
  fill: #76ae6c;
}
.st567 {
  fill: #6fae6d;
}
.st568 {
  fill: #60a159;
}
