.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dark-overlay {
  &:before {
    @extend .fill-absolute;

    content: '';
    background-color: rgba(0, 0, 0, 0.5);
  }
}
